[Desktop Entry]
Version=1.0
Name=zps
Comment=<TODO>
Exec=/usr/bin/zps
Icon=utilities-system-monitor
StartupNotify=true
Terminal=true
Type=Application
Categories=Utility;ConsoleOnly;Monitor;
X-AppStream-Ignore=True