[Desktop Entry]

# Type
Type=Application

# Latest version
Version=1.2.1

# The name of the application
Name=zps

# Application comment
Comment=A small utility for listing and reaping zombie processes.

# The executable of the application
Exec=zps

# Name of the icon
Icon=utilities-system-monitor

# Run in terminal
Terminal=true

# Categories
Categories=Utility;ConsoleOnly;Monitor;