[Desktop Entry]
Type=Application
Name=zps
Comment=A small utility for listing and reaping zombie processes.
Exec=zps
Icon=utilities-system-monitor
Terminal=true
Categories=System;Monitor;ConsoleOnly;
NoDisplay=true
